{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    {% tailwind_css %}
</head>
<body>
    <header>
        <!-- Top Navigation Menu -->
        {% include 'componentes/nav-bar.html'%}
    </header>
    <main>
        <h2 class="text-2xl text-center font-semibold mb-8">Funcionalidade de envio de relatório ainda não foi implementada.</h2>
        
    </main>
    
</body>
</html>l